/* Heading of the admin Page */
.heading {
    display: flex;
    justify-content: center;
    color: #2c3e50; /* Dark blue */
    font-size: 1.5rem;
    text-decoration: underline 2px #2980b9; /* Blue underline */
    font-weight: bold;
}

.text-center {
    font-size: 1.2rem;
    margin-top: 5px;
    text-decoration: underline 2px #2980b9; /* Blue underline */
    font-weight: bold;
}

/* Assign Heading */
.assingHeadine {
    display: flex;
    justify-content: center;
}

/* Container for assigning reviewer and reviewing */
.reviewContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid #27ae60; /* Green border */
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    align-items: center;
    height: fit-content;
    border-radius: 10px;
}

/* for the reviewer, container */
.reviewer {
    width: 90%;
}

/* Submit buttons div */
.submitButtons {
    margin-left: 36%;
    width: 30%;
    margin-top: 10px;
    padding: 10px;
}

/* Submit buttons */
.submitButtons button {
    background-color: #f1c40f; /* Yellow */
    width: 10vw;
    height: 25px;
    border: 1px solid #d4ac0d; /* Dark yellow border */
    border-radius: 20px;
}

.submitButtons button:hover {
    background-color: #f7dc6f; /* Light yellow on hover */
}

/* This button is used in assigning admin */
.submitButtons2 {
    width: 10vw;
}

.btn {
    background-color: #e74c3c; /* Red */
}

#addemp {
    background-color: #e67e22; /* Orange */
}
